.App {
  text-align: left;
  /*margin: 1em;*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 9fr;
  

}
.Title{
  background: white;
  font-size: 2em;
  text-align: right;
  margin-right: 1em;
}
.Logo{
   width:48px;
   height: 48px;
   align-content: left;

}
.Left-column{
  background:rgb(87, 87, 87);
  
  
}
.Menu{
  background:  rgb(206, 206, 206);
  color: white;

}
.Npc-sheet{
  background: rgb(255, 255, 255);
}
.Buttons{
  border: 0;
  border-radius: 5px;
  text-align: left;
  background-color:rgb(87, 87, 87);
  color: white;
  height: 33px;
  width: 200px;
  cursor: pointer;
  margin-left: 1em;
  margin-top: 1px;
}
.Buttons:hover{
  background-color: turquoise;
  color: black;
  
}
.List-Items{
  margin-top: 1em;
}
/*needs better position and alignment*/
.Generate-Random-Submenu{
  list-style:none;
  background-color: white;
  z-index: 1;
  text-align: center;
  font-size: .75em;
  display: none;
  width: 100%;
  position: relative;
 

}
/*Needs more styling text decoration perhaps*/
.Submenu-Buttons{
  border:0;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
  height:24px;
  width: 100px;
  cursor: pointer;

}
.Submenu-Buttons:hover{
  background-color: turquoise;
  color: black;
}
.Show-Random-Submenu{
  display:block
}
.Level-Submenu{
  list-style:none;
  background-color: white;
  z-index: 1;
  text-align: center;
  font-size: .75em;
  display: none;
  width: 100%;
  position: relative;
}
.Show-Level-Submenu{
  display:block;
}
.Class-Submenu{
  list-style:none;
  background-color: white;
  z-index: 1;
  text-align: center;
  font-size: .75em;
  display: none;
  width: 100%;
  position: relative;
}
.Show-Class-Submenu{
  display: block;
}
.Race-Submenu{
  list-style:none;
  background-color: white;
  z-index: 1;
  text-align: center;
  font-size: .75em;
  display: none;
  width: 100%;
  position: relative;
}
.Show-Race-Submenu{
  display: block;
}
.List-Abilities{
  list-style: none;
}
.Ability-Submenu{
  list-style:none;
  background-color: white;
  z-index: 1;
  text-align: center;
  font-size: .75em;
  display: none;
  width: 100%;
  position: relative;
}
.Show-Ability-Submenu{
  display: block;

}
